:root {
  --fog: #dfd4f6;
  --melrose: #c7aef2;
  --biloba-flower: #ab8ccf;
  --studio: #6b519a;
  --windsor: #4a2e83;
  --violent-voilet: #25174c;
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

#gatsby-focus-wrapper {
  display: flex;
  flex-direction: column;
}

.tl-edges {
  width: 100%;
}
.tl-wrapper {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: Lato;
  margin: 0;
  color: var(--fog);
  background: linear-gradient(
    45deg,
    var(--violent-voilet) 0%,
    var(--windsor) 50%,
    var(--studio) 100%
  );
  background: linear-gradient(
    45deg,
    var(--violent-voilet) 0%,
    var(--windsor) 50%,
    var(--studio) 75%,
    var(--biloba-flower) 100%
  );
}

h1,
p {
  margin: 0;
  /* text-shadow: -4px 4px 0px rgb(37, 23, 76, 0.5); */
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

p {
  font-size: 36px;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--biloba-flower);
}
a:hover {
  color: var(--violent-voilet);
}

main {
  height: 100%;
  display: flex;
  flex: 2;
}

section {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}
.home {
  margin-top: 20vh;
}

header,
footer {
  width: 100%;
  font-family: Karla;
}

.half {
  width: 50%;
  display: inline-block;
  padding: 1.25rem 2.5rem;
  box-sizing: border-box;
}

.right {
  text-align: right;
}

.svg {
  position: absolute;
  height: 128px;
  width: 128px;
}
.animated {
  position: relative;
}
.animated .svg {
  font-size: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 32px;
  height: 32px;
}
#rocket {
  top: calc(100% + 3rem);
  right: calc(100% - 3rem);
  transform: rotate(15deg);
}
#ovni {
  top: calc(0% - 3rem);
  left: calc(100% - 3rem);
}

header a {
  font-size: 1.25rem;
  margin-right: 0.35rem;
  color: var(--fog);
}

.stars {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.stars svg {
  width: 100%;
  height: 100%;
  overflow: auto !important;
}
